* {
	background-color: #f3f3f3;
}

#menu {
	background-color: white;
	border-radius: 0px 50px 0px 0px;
	box-shadow: 5px 5px 10px grey;
}

#menu div, a {
	background-color: white;
	color: black;
}
#centerText {
	color: black;
	font-size: 250%;
	text-align: center;
}

#centerBoard {
	background-color: white;
	border-radius: 15px;
	box-shadow: 5px 5px 10px grey;
}

#centerBoard * {
	background-color: white;
}
#addrBtn{
	background-color:#0c1c32; 
	color:white;
	width:100px;
}
#joinSubmit {
	background-color: #0c1c32;
	color: white;
	widht: 200px;
}

p{
	font-size : 80%;
}

.mystyle{
	border: 1px solid red;
}