#topmenu * {
	background-color: #f3f3f3;
}

#mainBoard div {
	text-align: center;
	margin: auto;
}

#mainImg {
	height: 400px;
}
#mainImg img {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	display:none;
}

#searchVal{
	border: 5px solid #0c1c32;
	width: 100%;
	height: 60px;
	font-size:120%;
}
#mainLogin .container-fluid {
	box-shadow: 5px 5px 10px grey;
	border-radius: 15px;
}

#loginButton {
	background-color: #0c1c32;
	border: 2px solid #0c1c32;
	margin: 20px;
	font-size: 200%;
}

#loginButton a {
	color: white;
	text-align: center;
}
#loginText{
	color: #9932CC;
}
.button-flex {
	display: flex;
}

menu, #menu1 {
	border: 1.5px solid grey;
	border-style: none none solid none;
	margin-right: 20px;
}

.w-btn {
	position: relative;
	border: none;
	display: inline-block;
	padding: 15px 30px;
	border-radius: 15px;
	font-family: "paybooc-Light", sans-serif;
	font-weight: 600;
	transition: 0.25s;
	background-color: white;
	color: navy;
}

.w-btn:hover {
	background-color: #0c1c32;
	color: #d4dfe6;
}

#cardStyle {
	background-color: #f1f1f1;
	border-radius: 30px;
}

.colorRadio input {
	display: none;
}

.colorRadio input+label {
	width: 15px;
	height: 15px;
}

.colorRadio input:checked+label {
	width: 20px;
	height: 20px;
}
.productImg{
	
	height:200px;
}
//
페이징
.page-item {
	
}
