* {
	background-color: #f3f3f3;
}

.item-detail {
	background-color: #f3f3f3;
	border-radius: 6%;
	box-sizing: border-box;
}

#p-name {
	height: 70px;
	background-color: #0c1c32;
	color: white;
}

.flex-container {
	display: flex;
}

.flex-container-button {
	display: flex;
}

.flex-container-button>div {
	text-align: center;
}

.w-btn-indigo {
	background-color: white;
	color: navy;
}

.w-btn-indigo:hover {
	background-color: black;
	color: #d4dfe6;
}

.w-btn {
	position: relative;
	border: none;
	display: inline-block;
	padding: 20px 50px;
	border-radius: 15px;
	font-family: "paybooc-Light", sans-serif;
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
}

.option {
	background-color: white;
}

.option-mini {
	display: flex;
}

.price {
	display: flex;
}

.quan {
	display: flex;
}

table {
	width: 100%;
	font-size: 20px;
	text-align: center;
	border-collapse: collapse;
}

td {
	border-bottom: 1px solid #444444;
	padding: 15px;
}

.colorRadio input {
	display: none;
}

.colorRadio input+label {
	width: 25px;
	height: 25px;
}

.colorRadio input:checked+label {
	width: 30px;
	height: 30px;
}

.capaRadio input {
	display: none;
	width: 70px;
	height: 40px;
}

.capaRadio input+label {
	background-color: white;
	width: 70px;
	height: 40px;
}

.capaRadio input:checked+label {
	background-color: gray;
}

.quan-icon {
	display: flex;
}

#icon {
	display: flex;
}

button {
	border: none;
	border-radius: 30%;
}

#adminMenu {
	background-color: #f3f3f3;
}

#sidebar ul li a {
	display: block;
	padding: 13px 30px;
	border-bottom: 1px solid #10558d;
	color: black;
	font-size: 16px;
	position: relative;
}